:root{
    --background-size: 40%;
}
@font-face {
    font-family: nordic;
    src: url('Norse-Bold.otf');
}
body, html{
    margin: 0;
    padding: 0;
    background-color: rgb(92, 91, 91);
}
#content {
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    height: 100vh;
    margin: 0 15%;
    background-size: var(--background-size) 100%;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
}

#image {
    font-family: nordic;
    color: white;
    font-size: 100px;
    position: relative;
    height: fit-content;
    background-color: rgb(0, 0, 0, 0.3);
    width: var(--background-size);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    top:30%;
}

img {
    height: 150px;
    width: auto;
}

form {
    width: 60%;
    background-color: rgb(243, 241, 241);
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
        
}

form p, form #inputs, form button {
    margin-left: 40px;
}

#first-section #text {
    margin-top: 160px;
    font-weight: bold;
    font-size:x-large;
    padding-right: 100px;
}

/* form #first-section, form #third-section {
    background-color: rgb(243, 241, 241);
} */

form #first-section {
    flex: 1.2;
}

form fieldset {
    border-style: none;
    margin: 0;
    padding: 0;
    color: rgb(75, 74, 74);
    box-shadow: 0 5px rgb(213, 212, 212);
    background-color: white;
    padding-bottom: 20px;
}

form fieldset, form #third-section {
    flex: 1;
    
}

#legend {
    font-size: x-large;
    font-weight: bold;
}

#inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-right: 200px;
    font-weight: bold;
}

.input-section {
    display: flex;
    flex-direction: column;
    font-size: small;
    margin-top: 15px;
}
input {
    box-sizing: border-box;
    height: 30px;
    width: 250px;
    border: 1px solid #E5E7EB;
}

input:focus {
    outline: none;
    border: 1px solid rgb(87, 87, 226);
    box-shadow: 2px 2px 3px rgb(141, 141, 236);
}

#third-section {
    padding-top: 30px;
}

#third-section button {
    background-color: #596D48;
    height: 45px;
    width: 200px;
    border-radius: 7px;
    border-style: none;
    color: white;
    font-weight: bold;
    font-size:medium;
}

#error {
    color: red;
}

.error {
    visibility: hidden;
    
}

.password-match-error, .password-match-error:focus {
    border: 1px solid red;
}